---
import { fetchProjects } from '@/hooks/fetch'
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from '@/components/ui/card'
import { Badge } from '@/components/ui/badge'

const projects = await fetchProjects()
---

<section id="projects" class="py-20 bg-white dark:bg-gray-800">
  <div class="container mx-auto px-4">
    <h2
      class="text-3xl font-bold mb-2 text-center text-gray-800 dark:text-white"
    >
      My Projects
    </h2>
    <p class="text-center text-zinc-500 dark:text-zinc-300 mb-6">
      These are my projects that i worked on throughout my journey as web
      developer.
    </p>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        projects.map((project, index) => (
          <Card key={index}>
            <CardHeader>
              <CardTitle>{project.name}</CardTitle>
              <CardDescription>{project.description}</CardDescription>
            </CardHeader>
            <CardContent>
              <div class="flex flex-wrap gap-2">
                {project.technologies.map((tech) => (
                  <Badge variant="secondary">{tech}</Badge>
                ))}
              </div>
            </CardContent>
            <CardFooter>
              {project.link.includes('disable') ? (
                <p class="text-zinc-500 text-sm">No disponible</p>
              ) : (
                <a href={project.link} class="text-blue-500" target="_blank">
                  View project
                </a>
              )}
            </CardFooter>
          </Card>
        ))
      }
    </div>
  </div>
</section>
